MONGO_URI=mongodb+srv://abhishek_admin:abhishek23062005@interview-ai-cluster.cf3nemj.mongodb.net/interview-master
JWT_SECRET=0e00c9048843fc543af18d1482568a6d92b37eaa0c341d634da13d89847aa03d
FRONTEND_URL=https://prep-ai-pied-eta.vercel.app/
GOOGLE_CLIENT_ID=378464416751-l5otqti50v9078al5cp8hjhg4doqhgkt.apps.googleusercontent.com
GEMINI_API_KEY=AQ.Ab8RN6J_xZGC1dMKdvXR94pgEoTvMLTRUqL2FbZjGqMNNE_AZw
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhishek.0x17@gmail.com
SMTP_PASS=vlljoptefqqymdnx
